bin/* linguist-vendored
*.xml filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
git_ssh text eol=lf
repo text eol=lf
hooks/* text eol=lf

*.json eol=lf
*.xml eol=lf

*.xsd    text
*.xsl    text
*.yml    text
